<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />

    
</head>
<body class="bg-stone-100 text-[#7077A1] font-bold min-h-screen flex items-center justify-center lg:p-6">

    <div class="bg-[#FDFAF6] w-full h-screen lg:max-w-[82rem] lg:h-[90vh] mx-auto shadow-lg rounded-3xl overflow-hidden flex flex-col border border-gray-200">
        <!-- Navigation -->
        <nav class="border-b border-gray-200 px-10 py-4 flex justify-around text-sm">
            <a href="/" class="hover:underline">&Uuml;ber mich</a>
            <span class="text-[#7077A1]">|</span>
            <a href="/Projects" class="hover:underline">Projekte</a>

            <!-- Only logged in Users should see the admin link -->
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <span class="text-[#7077A1]">|</span>
                <a href="/Admin/Overview" class="hover:underline">Admin</a>
            }
            <partial name="_LoginPartial" />
        </nav>

        <!-- Scrollable Content -->
        <main class="flex-1 overflow-y-auto px-10 my-4 py-4">
            @RenderBody()
        </main>

        <footer class="border-b border-gray-200 px-10 py-4 flex justify-around  text-sm font-medium ">
          
            <a href="mailto:jekath27@gmail.com" class="hover:underline">Email</a>
            <span class="text-[#7077A1]">|</span>

            <a href="https://github.com/Jekathmenan" target="_blank" class="hover:underline">GitHub</a>
            <span class="text-[#7077A1]">|</span>
            <a href="https://www.linkedin.com/in/jekathmenan-selvarajah-waran-ba1808182/" target="_blank" class="hover:underline">LinkedIn</a>
        
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>


</html>
