@using Microsoft.AspNetCore.Identity
@using PortfolioApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string fullName = "Guest";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        fullName = user?.FullName ?? "Unknown User";
    }
}


@if (SignInManager.IsSignedIn(User))
{
    <span class="text-[#7077A1]">|</span>
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button id="logout" type="submit" class="px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Logout</button>
    </form>
}
